/UniversalWebshopScraper/generalized_scrapper/botleneck_testing/
/UniversalWebshopScraper/generalized_scrapper/botleneck_testing/CProfile.py
/UniversalWebshopScraper/generalized_scrapper/botleneck_testing/generalized_scrapper_2.py
/UniversalWebshopScraper/generalized_scrapper/botleneck_testing/results.py
